.header {
  padding: 4.5em 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.header .menu {
  width: 45px;
  height: 24px;
}
.header .menu span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.header .logo a h2 {
  color: #fff;
  font-size: 3.4rem;
}
.hero-section {
  height: 100dvh;
  width: 100%;
  background-image: url(../image/slider-1.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 700px;
}
.hero-section:before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  content: "";
}
.hero-section .hero-content {
  color: #fff;
  height: 100vh;
  min-height: 700px;
  text-overflow: ellipsis;
}
.hero-section .hero-content h1 {
  font-size: 9rem;
}
.hero-section .hero-content p {
  font-size: 3.4rem;
  font-weight: 200;
  color: #fff;
}
.hero-section .hero-content p a {
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.hero-section .hero-content p a:hover {
  color: rgba(255, 255, 255, 1);
  border-bottom: 2px solid rgba(255, 255, 255, 1);
}
.hero-section .button {
  display: inline-block;
  padding: 1.1em 3em;
  border: 2.5px solid #fff;
  border-radius: 5px;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
}
.hero-section .button:hover {
  background-color: #fff;
  color: #000;
}
.hero-section .scroll-bottom {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
}
.hero-section .scroll-bottom * {
  display: block;
}
.hero-section .scroll-bottom i {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  color: #fff;
}
.hero-section .scroll-bottom span {
  font-size: 1.2rem;
  text-transform: uppercase;
}
.welcome .img {
  height: auto;
  width: 100%;
}
.welcome .call-to-action {
  gap: 10px;
  width: fit-content;
}
.welcome .call-to-action .icon {
  width: 50px;
  height: 50px;
  border: 2px solid #e6e6e6;
  border-radius: 50%;
  padding-left: 2px;
  padding-top: 1.5px;
  font-size: 1.6rem;
  color: #65b0ba;
}
.welcome .call-to-action .text {
  font-size: 1.7rem;
  color: #65b0ba;
  letter-spacing: 2px;
}
.welcome .call-to-action:hover .icon {
  border-color: #000;
  color: #000;
}
.welcome .call-to-action:hover .text {
  color: #3f9a94;
}
.experience .items img {
  width: 70px;
  height: auto;
}
.slider:before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  content: "";
  left: 0;
  bottom: 0;
}
.slider .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 4rem;
  color: #495057;
}
.slider .prev {
  left: -50px;
}
.slider .next {
  right: -50px;
}
.slider .arrow:hover {
  color: #6c757d;
}
.slider .pagination {
  position: absolute;
  left: 0;
  bottom: 60px;
  width: 100%;
}
.slider .pagination ul {
  gap: 10px;
}
.slider .pagination ul li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #fff;
  cursor: pointer;
}
.slider .pagination ul li.active {
  background: transparent;
}
.interrmediate {
  position: absolute;
  width: 100%;
  height: 300px;
  bottom: -2%;
  left: 0;
  z-index: -1;
}
.interrmediate:before {
  content: "";
  border-top: 100px solid transparent;
  border-right: 100vw solid #65c0ba;
}
.blog .items ul li .content {
  background-color: #fff;
}
.blog .items ul li .content .bottom-content {
  padding: 3rem;
}
.blog .items ul li .content .bottom-content .date {
  color: #ced4da;
  letter-spacing: 3px;
}
.blog .items ul li .content .bottom-content .title {
  line-height: 1.4;
  min-height: 75px;
  text-overflow: ellipsis;
}
.blog .items ul li .content .bottom-content .description {
  min-height: 165px;
}
.testimonial .items ul li img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}
.testimonial .items ul li .text {
  color: #000;
  min-height: 180px;
}
.testimonial .items ul li .author {
  font-style: italic;
  position: relative;
}
.testimonial .items ul li .author:before {
  content: "—";
  margin-right: 5px;
}
.destination .items ul li .bottom-content a {
  color: #000;
}
.destination .items ul li .bottom-content a:hover {
  color: #3f9a94;
}
.destination .items ul li .bottom-content .title {
  font-size: 2.2rem;
}

.destination .items ul li .bottom-content .rating ul li i {
  color: #3f9a94;
  font-size: 1.2rem;
}
.destination .items ul li .bottom-content .reviews {
  color: #ccc;
  font-size: 1.4rem;
}
.footer {
  background-color: #1a1a1a;
  padding: 100px 0;
  font-size: 1.8rem;
}
.footer .title {
  color: #fff;
}
.footer ul li a {
  color: rgba(255, 255, 255, 0.7);
  display: block;
  padding: 7px;
  font-weight: 200;
}
.footer ul li a:hover {
  color: #fff;
}
.footer ul li .subtitle {
  color: #fff;
  font-style: italic;
  font-weight: 200;
}
.footer p {
  color: rgba(255, 255, 255, 0.5);
}
.footer .newsletter form input {
  background: transparent;
  border: none;
  outline: 0;
  padding: 10px 0 14px;
  font-size: 1.5rem;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  padding-right: 40px;
  padding-left: 10px;
}
.footer .newsletter form input:focus {
  border-color: #fff;
}

.footer .newsletter form input::placeholder {
  color: rgba(255, 255, 255, 0.2);
  font-style: italic;
  font-size: 1.5rem;
}
.footer .newsletter form button {
  background: none;
  border: none;
  box-shadow: none;
  outline: 0;
  position: absolute;
  right: 20px;
  bottom: 15px;
  color: #fff;
  font-size: 1.8rem;
}
.footer .copy-right {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 70px;
  padding-top: 60px;
  text-align: center;
}
.footer .copy-right a {
  color: rgba(255, 255, 255, 0.7);
}
.footer .copy-right a:hover {
  color: rgba(255, 255, 255, 1);
}
.footer .copy-right ul {
  gap: 20px;
}
