html {
  font-size: 10px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
body {
  direction: ltr;
  font-family: "mukta mahee", Arial, Helvetica, sans-serif;
  line-height: 1.8;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  transition: all 0.3s;
}
ul,
ol {
  list-style: none;
}
.container-full {
  width: 100%;
  padding: 0 15px;
}
.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "abril fatface", Arial, Helvetica, sans-serif;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.8rem;
}
h4 {
  font-size: 2.6rem;
}
h5 {
  font-size: 2.4rem;
}
p {
  font-size: 1.8rem;
  font-weight: 200;
  color: #6c757d;
}
.uppercase {
  text-transform: uppercase;
}
.relative {
  position: relative;
}
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.text-align-center {
  text-align: center;
}
.space-between {
  justify-content: space-between;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.flex-wrap {
  flex-wrap: wrap;
}
.col-1 {
  flex-basis: 8.33%;
}
.col-2 {
  flex-basis: 16.66%;
}
.col-3 {
  flex-basis: 25%;
}
.col-4 {
  flex-basis: 33.33%;
}
.col-5 {
  flex-basis: 41.66%;
}
.col-6 {
  flex-basis: 50%;
}
.col-7 {
  flex-basis: 58.33%;
}
.col-8 {
  flex-basis: 66.66%;
}
.col-9 {
  flex-basis: 75%;
}
.col-10 {
  flex-basis: 83.33%;
}
.col-11 {
  flex-basis: 91.66%;
}
.col-12 {
  flex-basis: 100%;
}
.pt-1 {
  padding-top: 5px;
}
.pt-2 {
  padding-top: 10px;
}
.pt-3 {
  padding-top: 15px;
}
.pt-4 {
  padding-top: 20px;
}
.pt-5 {
  padding-top: 25px;
}
.pb-1 {
  padding-bottom: 5px;
}
.pb-2 {
  padding-bottom: 10px;
}
.pb-3 {
  padding-bottom: 15px;
}
.pb-4 {
  padding-bottom: 20px;
}
.pb-5 {
  padding-bottom: 25px;
}
.mt-1 {
  margin-top: 5px;
}
.mt-2 {
  margin-top: 10px;
}
.mt-3 {
  margin-top: 15px;
}
.mt-4 {
  margin-top: 20px;
}
.mt-5 {
  margin-top: 25px;
}
.mb-3 {
  margin-bottom: 25px;
}

[class^="col-"] {
  padding: 15px;
}
.section-space {
  padding: 10rem 0;
}
.header-section {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}
.header-section.large .title {
  font-size: 7rem;
  line-height: 70px;
}
.header-section.white .description {
  color: #fff;
}
.bg-gray {
  background-color: #fafafa;
  border-top: 1px solid #e0e0e0;
}
.bg-light-gray {
  background-color: #fafafa;
  border-top: 1px solid #e0e0e0;
}
.bg-green {
  background-color: #65c0ba;
}
.header-section .title {
  font-size: 3rem;
}
.header-section .description {
  font-size: 2rem;
}
.img-full {
  width: 100%;
  height: auto;
}
p::selection {
  color: #6c757d;
  background-color: #65c0ba;
}
